#battery-main {
    display: flex;
    align-items: center;
    justify-content: right;
}

#battery-body {
    border: solid 2px white;
    height: 100%;
    display: flex;
    max-width: calc(100% - 14px);
}

#battery-nub {
    height: 40%;
    background: white;
}

#battery-fill {
    max-width: 100%;
    border-radius: .3vmax;
    margin: 2px;
    height: calc(100% - 4px);
    width: 100%;
    
    display: flex;
    align-items: center;
}

#battery-fill>label {
    font-family: "San Francisco";
    font-weight: bold;
    color: transparent;

    text-align: center;

    background-clip: text;
    -webkit-background-clip: text;

    flex: 0 0 100%;
}

#battery-spacer {
    flex: 0 0 3px;
}