#eff-main {
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-family: San Francisco;
}

#eff-value-box {
    flex: 0 0 80%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#eff-value {
    font-size: 65%;
}

#eff-seperator {
    width: 100%;
    flex: 0 0 2%;
    background: linear-gradient(to right, black, white, black);
}

#eff-subtitle {
    flex: 0 0 18%;
    width: 100%;
    text-align: center;
    font-size: 15%;
    font-style: italic;
}