/*
 * author: Colton Tshudy
 * version: 07/31/2023
 */

body {
    background: white;
    margin: 0px;
}

.viewport {
    width: 1024px;
    height: 600px;
    /* width: 800px;
    height: 480px; */
    color: white;
    background: white;
    overflow: hidden;
    position: relative;
    z-index: -10;
}

.center-screen {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    z-index: -9;
}

.fullscreen-container {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#info-box {
    display: flex;
    flex-direction: column;
    align-items: center;

    border: solid 1px white;
    padding: 10px;

    height: 90%;
    top: 50%;

    border-radius: 10px;

    z-index: 100;
    background: black;

    width: 27%;
}

#header-box {
    display: flex;
    align-items: center;
    flex-direction: row;
    height: 40px;
    justify-content: space-between;
    width: 100%
}

.clock {
    height: 100%;
}

#temperature-box {
    display: flex;
    align-items: center;
    flex-direction: row;
    margin-top: 5%;
    justify-content: space-between;
    width: 100%
}

.speedometer {
    height: 85%;
    margin: -5%;
}

.power-gauge {
    height: 85%;
    margin: -5%;
}

.gif {
    margin: 5%;
}

#item-3 {
    margin-top: 10%;

    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 100%;
}

.efficiency {
    height: 100px;
}

.alert-zone {
    height: 100%;
    width: 20%;

    display: flex;
    align-items: center;
    flex-direction: column;
}

.indicator {
    margin:10%;
    font: 800 22px San Francisco;
}

#item-4 {
    margin-top: 15%;
    width: 90%;
    height: 12%;
}

.gear {
    height: 100%;
    width: 100%;
}

.bottom-display {
    margin-top: 20%;
    height: 21%;
    width: 80%;
}

.gauges {
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    border-radius: 50%;
    background-color: rgb(0, 0, 0, 0.4);
}

#readout-container {
    margin-top: 25%;
    height: 35%;
    width: 55%;
    display: flex;
    align-items: top;
    justify-content: space-evenly;
}

.readout {
    height: 100%;
    width: 100px;
}

.readout-spacer{
    flex: 0 0 60%;
}